{% extends "layout.html" %}
{% block body %}
<div class="container">
  <div class="jumbotron">
    <p>検索ワード  ：{{ searchword }} </p>
    {% if engine == "google" %}
      <p>検索エンジン：Google</p>
    {% elif engine == "google_news" %}
      <p>検索エンジン：Google News</p>
    {% else %}
      <p>検索エンジン：None</p>
    {% endif %}

  </div>
  <br>
  <form action="/word_cloud/result" method="get">
    <input type="hidden" name="searchword" value="{{ searchword }}">
    <input type="hidden" name="engine" value="{{ engine }}">
    <button type="submit" class="btn btn-primary btn-block active" id="process" onClick="javascript:double(this)">Import into ElasticSearc</button>
  </form>
  <br>
  <form action="/word_cloud" method="get">
    <button type="submit" class="btn btn-primary btn-block active" onClick="javascript:double(this)">Back</button>
  </form>
</div>
{% endblock %}
