{% extends "layout.html" %}
{% block body %}
<div class="container">
  <div class="jumbotron">
    <p>File Name  ：{{ filename }} </p>
    <p>URL  ：</p>
    <p> {{ url }} </p>
  </div>
  <br>
  <form action="/article/result" method="get">
    <input type="hidden" name="filename" value="{{ filename }}">
    <button type="submit" class="btn btn-primary btn-block active" id="process" onClick="javascript:double(this)">Import into ElasticSearch</button>
  </form>
  <br>
  <form action="/article" method="get">
    <button type="submit" class="btn btn-primary btn-block active" onClick="javascript:double(this)">Back</button>
  </form>
</div>
{% endblock %}
