<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.blockUI/2.70/jquery.blockUI.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/locale/ja.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css"></link>
    <script type="text/javascript" src="{{ url_for('static', filename='javascripts/dropdown.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascripts/textcheck.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascripts/wait.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascripts/double.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascripts/upfile.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='javascripts/datetimer.js') }}"></script>
    <title>Co-word analysis</title>
    {% block head %}
    {% endblock %}
  </head>
  <body>
    <div class="container">
      <div class="header">
        <form action="/" method="get">
          <h1 class="text-muted">Co-word analysis<button type="submit" class="btn pull-right"><span class="glyphicon glyphicon-home"></span></button></h1>
        </form>
      </div>
    </div>
    <hr />
    {% block body %}
    {% endblock %}
  </body>
</html>

